* {
    margin: 0;
    padding: 0;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    cursor: pointer;
}

#screen {
    height: auto;
}


/* header css */
#navbar {
    width: 100%;
    height: 20px;
    /* border: 1px solid red; */
    background-color: #181818;
    position: sticky;
    top: 0;
    z-index: 5;
}

#nav-top {
    font-size: 4.5px;
    width: 65%;
    height: 100%;
    /* border: 1px solid red; */
    margin: auto;
    color: #d1d1d1;
    display: flex;
    justify-content: space-between;
}

.apple-logo {
    width: 10px;
    height: 15px;
    /* border: 1px solid red; */
    font-size: 7px;
    padding-top: 4px;
}

.middle-row {
    width: 354px;
    height: 13px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    padding-top: 6px;
    margin-left: 5px;
}

.mg-b {
    width: 30px;
    height: 15px;
    /* border: 1px solid red; */
    font-size: 7px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}


/* homepage css */
.card {
    width: 100%;
    height: 12px;
    /* border: 1px solid red; */
    background-color: #181818;
    color: white;
    font-size: 6px;
    text-align: center;
    padding-top: 3px;
}

.card span:nth-child(2) {
    color: #218ef4;
}

#middle {
    width: 100%;
    height: 1830px;
    /* border: 1px solid red; */
}

.iphone15pro {
    width: 100%;
    height: 210px;
    background-image: url('https://www.apple.com/v/home/be/images/heroes/iphone-15-pro/hero_iphone15pro__i70z9oz3hj2i_large.jpg');
    /* border: 1px solid green; */
    background-size: 100% 100%;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    line-height: 20px;
}

.iphone15pro h3 {
    font-size: 22px;
    text-align: center;
}

.iphone15pro span {
    font-size: 11px;
    text-align: center;
}

.iphone15pro p {
    font-size: 11px;
    text-align: center;
    color: #218ef4;
}

.iphone15 {
    width: 100%;
    height: 210px;
    background-image: url('https://www.apple.com/v/home/be/images/heroes/iphone-15/hero_iphone15_announce__uuemlcwczn6u_large_2x.jpg');
    /* border: 1px solid green; */
    background-size: 100% 100%;
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    line-height: 20px;
    margin-top: 5px;
}

.iphone15 h3 {
    font-size: 22px;
    text-align: center;
}

.iphone15 span {
    font-size: 11px;
    text-align: center;
}

.iphone15 p {
    font-size: 11px;
    text-align: center;
    color: #218ef4;
}

.watch {
    width: 100%;
    height: 210px;
    background-image: url('https://www.apple.com/in/home/heroes/apple-watch-series-9/images/hero_apple_watch_series_9_order__d0fi9mb84dci_medium.jpg');
    /* border: 1px solid green; */
    background-size: 100% 100%;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    line-height: 20px;
    margin-top: 5px;
}

.watch h3 {
    font-size: 18px;
    text-align: center;
}

.watch span {
    font-size: 11px;
    text-align: center;
}

.watch p:nth-child(2) {
    color: red;
    letter-spacing: 1.5px;
    font-size: 7px;
}

.watch p {
    font-size: 11px;
    text-align: center;
    color: #218ef4;
}

.wrap-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.wrap-content {
    background-image: url('https://www.apple.com/v/home/be/images/promos/ipad-pro/promo_ipadpro_refresh__evi9utuixwuq_medium_2x.jpg');
    width: 48%;
    height: 230px;
    background-position: center center;
    background-size: 100% 100%;
    margin-top: 5px;
    color: white;
    line-height: 15px;
}

.wrap-content p {
    color: #218ef4;
    font-size: 7px;
    text-align: center;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
}

.wrap-content h1 {
    color: white;
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
}

.wrap-content-2 {
    background-image: url('https://www.apple.com/v/home/be/images/promos/apple-vision-pro/promo_apple_vision_pro__f4v4zp0sum2y_medium_2x.jpg');
    width: 48%;
    height: 230px;
    background-size: 100% 100%;
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    line-height: 18px;
}

.wrap-content-2 h3 {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.wrap-content-2 p {
    font-size: 15px;
    color: rgb(96, 93, 93);
}

.wrap-content-2 p:nth-child(1) {
    color: #218ef4;
    font-size: 7px;
    text-align: center;
    font-weight: bold;
}

.wrap-content-3 {
    background-image: url('https://www.apple.com/v/home/be/images/promos/macbook-air-15/promo_macbook_air_15_midnight__3zojl1nanrme_medium_2x.jpg');
    width: 48%;
    height: 230px;
    background-position: center center;
    background-size: 100% 100%;
    margin-top: 5px;
    padding-top: 25px;
    line-height: 17px;
}

.wrap-content-3 h1 {
    font-size: 17px;
    text-align: center;
}

.wrap-content-3 p:nth-child(1) {
    color: #341f27;
    font-size: 9.5px;
    text-align: center;
}

.wrap-content-3 p {
    color: #218ef4;
    text-align: center;
    font-size: 7px;
}

.wrap-content-4 {
    background-image: url('https://www.apple.com/v/home/be/images/promos/airpods-pro/promo_airpods_pro_order__d8xv36p4uwae_medium_2x.jpg');
    width: 48%;
    height: 230px;
    background-position: center center;
    background-size: 100% 100%;
    margin-top: 5px;
    color: white;
    padding-top: 25px;
    line-height: 17px;
}

.wrap-content-4 h1 {
    font-size: 17px;
    text-align: center;
}

.wrap-content-4 p:nth-child(1) {
    color: white;
    font-size: 9.5px;
    text-align: center;
}

.wrap-content-4 p {
    color: #218ef4;
    text-align: center;
    font-size: 7px;
}

.wrap-content-5 {
    background-image: url('https://www.apple.com/v/home/be/images/promos/iphone-tradein/promo_iphone_tradein__bugw15ka691e_medium_2x.jpg');
    width: 48%;
    height: 230px;
    background-position: center center;
    background-size: 100% 100%;
    margin-top: 5px;
    padding-top: 25px;
    line-height: 17px;
}

.wrap-content-5 p:nth-child(1) {
    color: #341f27;
    font-size: 9.5px;
    text-align: center;
}

.wrap-content-5 p {
    color: #218ef4;
    text-align: center;
    font-size: 7px;
}

.wrap-content-6 {
    background-image: url('https://www.apple.com/v/home/be/images/promos/homepod-mini/tile_homepod_mini__b73w4z3ljymu_large_2x.jpg');
    width: 48%;
    height: 230px;
    background-position: center center;
    background-size: 100% 100%;
    margin-top: 5px;
    padding-top: 25px;
    line-height: 20px;
}

.wrap-content-6 h1 {
    font-size: 16px;
    text-align: center;
}

.wrap-content-6 p {
    color: #218ef4;
    text-align: center;
    font-size: 7px;
}

.slider-content {
    width: 100%;
    height: auto;
    margin-top: 5px;
    scroll-snap-align: center;
    scroll-behavior: smooth;
}

.slider-content-box {
    width: 98%;
    margin: auto;
    height: 270px;
    /* border: 1px solid black; */
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    position: relative;
    scroll-behavior: smooth;
    scroll-snap-align: center;
}

.slider-content-box img {
    width: 90vw;
    height: 100%;
    /* border: 1px solid blue; */
    margin: 0 10px;
    object-position: center center;
}

.slider-content-box::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.slide-btn a i {
    color: grey;
    margin: 5px;
}

.slide-btn {
    width: 105px;
    height: 20px;
    /* border: 1px solid red; */
    margin: auto;
}

.home-foot-text {
    width: 100%;
    height: 62px;
    /* border: 1px solid black; */
    margin-top: 3px;
    background-color: #f5f5f7;
}

.home-footer {
    width: 65%;
    height: 55px;
    /* border: 1px solid red; */
    font-size: 4.5px;
    margin: auto;
    color: rgb(122, 121, 121);
    text-align: left;
    padding-top: 5px;
    word-spacing: 1.5px;
    line-height: 6px;
}

.horizontal-line {
    width: 65%;
    height: 1px;
    margin: 2px;
    background-color: grey;
    margin: auto;
}


/* footer css */
.footer-container{
    height: 30%;
    width: 100%;
    text-align: start;
    background-color: rgb(245,245,247);
}

.footer-text{
    font-size: 0.8em;
    width: 80%;
    margin: auto;
    padding-top: 1%;
}

.footer-hr-1{
    width: 80%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.footer-lists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    /* height: 20em; */
}

.footer-lists-container p{
    font-size: 0.8em;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: start;
}

.footer-lists-container p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer-single-list-container{
    width: 20%;
}

.footer-bottom-div{
    display: flex;
    justify-content: space-between;
}

.footer-bottom-div ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 35%;
}

.footer-bottom-div ul > li{
    border-right: 1px solid black;
    padding-right: 2%;
}

.bold-and-underline{
    text-decoration: underline;
    font-weight: 500;
}

.blue-link{
    text-decoration: underline;
    color: rgb(61,137,215);
}