.Productscreen {
    width: 100%;
    background-color: #f5f5f7;
}

.discount-buy {
    width: 100%;
    height: 60px;
    background-color: white;
}

.dis-text-buy {
    width: 60%;
    /* margin: auto; */
    color: black;
    margin-left: 28%;
    padding-top: 22px;
    font-size: 15px;
    font-weight: 100;
}

.note-buy {
    width: 100%;
    margin-bottom: 50px;
}

.note-flex-buy {
    width: 80%;
    height: 120px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 60px;
}

.note-flex-buy h1 {
    font-size: 45px;
    text-align: start;
}

.visit-buy {
    display: flex;
    margin-top: 20px;
}

.visit-buy img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.visit-buy p {
    text-align: start;
    list-style: none;
    font-size: 15px;
    align-items: center;
}

.title-buy {
    width: 80%;
    /* border: 1px solid black; */
    margin: auto;
    margin-bottom: 70px;
    padding-left: 5px;
}

.title-buy li {
    list-style: none;
    display: inline-block;
    margin-right: 55px;
    align-items: left;
}

.latest-pro-buy {
    width: 100%;
    margin: auto;
    margin-bottom: 50px;
    /* border: 1px solid black; */
}

.latest-pro-head-buy {
    margin-bottom: 35px;
    width: 50%;
    text-align: left;
    font-size: 18px;
    /* border: 1px solid black; */
    margin-left: 10%;
    display: flex;
    position: relative;
}


.latest-pro-head-buy span {
    color: gray;
}

.latest-pro-list-buy {
    width: auto;
    height: 500px;
    display: flex;
    margin-left: 10%;
    /* border: 1px solid black; */
}

.single-flx-buy {
    width: 100%;
    height: 100%;
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
}

.flexbox-buy {
    width: 40%;
    height: 92%;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 20px;
    padding-top: 30px;
    cursor: pointer;
    margin-right: 20px;
}

.flexbox-buy:hover {
    scale: 1.02;
    box-shadow: 5px -5px 5px #fff;
}

.flexbox-buy h1 {
    text-align: left;
    margin-left: 30px;
    font-size: 30px;
    padding-top: 5px;
}

.flexbox-buy img {
    margin-bottom: 50px;
    /* border: 1px solid red; */
}

.flexbox-buy button {
    background-color: #0071e3;
    width: 70px;
    height: 35px;
    border-radius: 17.5px;
    border: none;
    color: #fff;
    font-size: 18px;
}

.flexbox-buy h5 {
    padding-left: 25px;
}